{% extends "layout.html" %} {% block title %} Quoted {% endblock %} {% block
main %}
<div class="container text-center mt-5">
  <h2 class="mb-4">Stock Quote</h2>

  {% if data %}
  <p><strong>Stock Symbol:</strong> {{ data.symbol }}</p>
  <p>
    <strong>Current Price:</strong>
    <span class="text-success">${{ data.price }}</span>
  </p>
  {% else %}
  <p class="text-danger">No stock data available.</p>
  {% endif %}

  <a href="{{ url_for('quote') }}" class="btn btn-primary mt-3"
    >Check another stock</a
  >
</div>
{% endblock %}
